.header {
  position: absolute;
  top: 24px;
  z-index: 5;
  right: 0;
  left: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header__logo {
  width: 100%;
}
.header__cart {
  color: var(--dark);
}

.header__cart:hover {
  color: var(--orange);
}

@media (width >= 540px) {
  .header {
    top: 42px;
  }

  .header__logo {
    width: 100%;
  }
}
