:root {
  --white: #fff;
  -beige: #6e5f4e;
  --dark: #232121;
  --orange: #eda756;
  --light: #fcfaf7;
}
html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: var(--dark);
  background-color: rgb(239, 229, 173);
  font-weight: 400;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
--offset-container: 14px
  max-width: calc(var(--offset-container) * 2 + 1300px);
  padding: 0 var(--offset-container);
  margin: 0 20px;
  align-items: center;
  justify-content: center;
}

.svg-sprite{
    display: none;
}

@media (width >= 650px) {
  body{
    background-color: rgb(243, 202, 150);
  }
  .container{
    --offset-container: 40px
  }
}

@media (width >= 860px) {

}

@media (width >= 1140px) {
  .container{
    --offset-container: 70px
  }

}
