.toppings {
  padding: 24px 0;
}

.toppings__title {
  position: fixed;
  transform: scale(0);
}
.toppings__close {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  color: var(--dark);
  align-items: center;
  gap: 8px;
}
.toppings__close-icon {
  transition: transform 0.5s ease-in-out;
}

.toppings__close_active .toppings__close-icon {
  transform: scaleY(-1);
}
.toppings__list {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.toppings__list_show {
  display: flex;
}

.toppings__label {
  display: block;
  background: var(--white);
  padding: 8px 24px;
  border-radius: 30px;
  font-size: 14px;
  color: var(--beige);
  cursor: pointer;
  border: 1px solid transparent;
}
.toppings__checkbox {
  position: absolute;
  appearance: none;
}
.toppings__checkbox:checked + .toppings__label {
  color: var(--white);
  background: #d2946e;
  border: 1px solid #f0443b;
}

.toppings__checkbox:focus-visible + .toppings__label {
  background: var(--white);
  border: 1px solid #d2946e;
  color: transparent;
}

@media (width >= 650px) {
  .topping {
    padding: 32px 0;
  }
  .toppings__close {
    font-size: 24px;
  }
  .toppings__label {
    font-size: 20px;
  }
}

@media (width >= 860px) {
  .toppings__close {
    display: none;
  }
  .toppings__title {
    position: static;
    transform: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px;
  }
  .toppings__list {
    display: flex;
    max-height: none;
  }
}
